<div id="main" class="jumbotron">
  <h2>Almost out of fuel?</h2>
  <p>Route to Gas station (RtGs) app helps you to find the nearest gas stations according to your current geo location (or by provided address). You can choose any of the found gas station and the app will create a route to the chosen one. You will be able to see the map with route, to look at the street view of the chosen station and to read, or even listen to the directions of getting there.</p>
  <p>Have a nice time using our RtGs app!</p>
  <a class="btn btn-primary btn-lg" a ng-href="#!/search" role="button">Find the route now</a>
</div>
