<div id="main" class="jumbotron">
  <h2>Almost out of fuel?</h2>
  <p>Route to Gas station (RtGs) app will help you to find the nearest gas stations according to your current geo location (or provided address). You can choose any the found gas station from the list, and the app will create a route there. You will get the map with route, the street view of the chosen station and the directions of getting there.</p>
  <p>Have a nice time using our RtGs app, and go!</p>
  <a class="btn btn-primary btn-lg" a ng-href="#!/search" role="button">Find the route now</a>
</div>
